/.idea/.idea.ThoughtBuffer/.idea/.gitignore
/.idea/.idea.ThoughtBuffer/.idea/encodings.xml
/.idea/.idea.ThoughtBuffer/.idea/indexLayout.xml
/bin/
/obj/
/ThoughtBuffer.sln.DotSettings.user
/.idea/.idea.ThoughtBuffer/.idea/vcs.xml
